body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 2, 2);
}

.App-link {
  color: #61dafb;
}
pre {
  color: rgb(12, 12, 12);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

button {
  outline: none;
  border: 0;
  padding: 16px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  color: #ffce5c;
  transition: all 300ms;
  border: 1px solid #0001;
}

button:hover {
  color: #00a3f5;
  border: 1px solid #ffce5c22;
}

.react-calculator {
  position: relative;
  margin: 0 auto;
  width: 360px;
  background-color: #292f36;  
  box-shadow: 0 19px 38px rgba(19, 19, 19, .24),
0 15px 12px rgba(19, 19, 19, .12);
}


button {
outline: none;
border: 0;
padding: 16px;
font-size: 20px;
line-height: 1;
background-color: transparent;
color: #ffce5c;
transition: all 300ms;
border: 1px solid #0001;
}

button:hover {
color: #00a3f5;
border: 1px solid #ffce5c22;
}


.result {
position: relative;
height: 73px;
padding: 8px;
overflow: hidden;
background-color: rgba(19, 19, 19, .64);
font-size: 32px;
line-height: 2;
color: #60d63c;
text-align: right;
direction: rtl;
white-space: nowrap;
box-sizing: border-box;
}

.functions button, .math-operations button {
display: inline-block;
width: 80px;
height: 80px;
color: #d63c6b
}

.functions button:hover, 
.math-operations button:hover {
color: #b696a0;
}

.numbers {
width: 240px;
float: left;
}

.numbers button {
display: block;
position: relative;
width: 80px;
height: 80px;
float: left;
}

.numbers button:last-child {
width: 100%;
}

.functions {
float: left;
width: 240px;
}


#border {
  padding: 25px;
  border: 12px solid red;
  width: 340px;
  height: 240px;
  background: url(./img/images.jpg) right top /20% no-repeat,
  url(./img/miqui.jpg) center / cover no-repeat;
  ;
}


#degragados {
  border: 25px;
  width: 480px;
  height: 480px;
  background: linear-gradient(to bottom,#443,#ac1);
}
#sombras {
  font-size: 75px;
  
  color: #fff;
  text-shadow: 1px 1px 15px black,
  0 0 14px red;
}